.ts-preserve3d {
    position: absolute;
    transform-style: preserve-3d;
}

.raining-heart {
    /* background: #fff; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    /* font-family: 'Anton', */
    /* sans-serif; */
    justify-content: center;
    align-items: center;
    perspective: 1300px;
}

.raining-heart-container {
    transform: rotateX(-15deg);
}

.ripple {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    opacity: 0;
    border: 1px solid rgba(255, 0, 0, 1);
}

.movable {
    opacity: 0;
}

@keyframes rotation {
    0% {
        transform: translateX(-50%) rotateY(0deg);
    }

    100% {
        transform: translateX(-50%) rotateY(360deg);
    }
}

@keyframes drop {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    80% {
        transform: translateY(0);
        opacity: 3;
    }

    100% {
        transform: translateY(-40px);
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
        opacity: 0;
    }
}
