/* purgecss start ignore */
@tailwind base;

@tailwind components;

body {
    @apply font-sans;
}

.pagination-cursor-pointer {
    @apply cursor-pointer;
}

.pagination-cursor-default {
    @apply cursor-default;
}

.pagination-disabled-item > a {
    @apply cursor-default;
}

.footer-logo {
    position: absolute;
    top: -50px;
    right: 0;
    transform: scale(1);
}

@screen md {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: scale(1.5);
    }
}

@screen lg {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 60%;
        transform: scale(1.5);
    }
}

@screen xl {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(2);
    }
}

/* selected text start */
::selection {
    @apply text-white bg-indigo-700;
}

/* selected text start */
/* purgecss end ignore */

@tailwind utilities;
