/* purgecss start ignore */
@tailwind base;

@tailwind components;

body {
    @apply font-sans;
}

.markdown-body {
    @apply font-sans;
}

.pagination-cursor-pointer {
    @apply cursor-pointer;
}

.pagination-cursor-default {
    @apply cursor-default;
}

.pagination-disabled-item > a {
    @apply cursor-default;
}

.footer-logo {
    position: absolute;
    top: -50px;
    right: 0;
    transform: scale(1);
}

.prevent-headbutting {
    margin-top: -105px;
    padding-bottom:105px;
}

@screen md {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: scale(1.5);
    }

    .prevent-headbutting {
        margin-top: -50px;
        padding-bottom: 50px;
    }
}

@screen lg {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 60%;
        transform: scale(1.5);
    }
}

@screen xl {
    .footer-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(2);
    }
}

/* SimpleMDE */
.CodeMirror {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.editor-statusbar {
    @apply bg-gray-200;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
/* SimpleMDE */

/* Markdown */
.markdown-body h2 a:hover {
    @apply no-underline;
}
/* Markdown */

/* selected text start */
::selection {
    @apply text-white bg-indigo-700;
}
/* selected text start */
/* purgecss end ignore */

@tailwind utilities;
